:root {
    --bg: #095a38;
    --header: #01031a;
    --footer: #f5dee9;
    --text-primary: #010114;
    --text-secondary: #aaa;
    --active: #f17006;
    --card: #aaaaaa;
    --glass : rgba(255, 255, 255, 0.05);
    --text : #E0E0E0;
}

@property --grandiant-angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

[data-theme="light"] {
    --bg: #9ce2c5;
    --header: #05a86a;
    --footer: #ffffff;

    --card-bg: #FFFFFF;
    --text-primary: #E9DAD5;
}
